      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="/atom.xml" type="application/atom+xml" target="_blank"><i class="fa fa-rss"></i> Atom feed</a>
          </li>
          <li>
            <a href="mailto:joe@joeshaw.org"><i class="fa fa-email"></i> Email</a>
          </li>
          <li>
            <a href="https://github.com/joeshaw"><i class="fa fa-github"></i> GitHub</a>
          </li>
          <li>
            <a href="https://twitter.com/joeshaw"><i class="fa fa-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="https://keybase.io/joeshaw"><i class="fa fa-keybase"></i> Keybase</a>
          </li>
          <li>
            <a href="https://linkedin.com/in/joeshaw"><i class="fa fa-linkedin"></i> LinkedIn</a>
          </li>
          <li>
            <a href="https://www.stackoverflow.com/users/156/joe-shaw"><i class="fa fa-stackoverflow"></i> Stack Overflow</a>
          </li>
        </ul>
      </footer>

    </div>

{{ template "_internal/google_analytics_async.html" . }}

  </body>
</html>
